#contentPane
{
	overflow : scroll;
/*	background-color: yellow;*/
	margin-left: 20px;
	padding: 0;
}

#sidebar{
	position: static;
	height: 500px;
/*	background-color: red;*/
}


#rightPane
{
	position: static;
/*	background-color: black;*/
	height: 500px;
	
}