#content_container
{
	margin-top: 60px;
}

#contentPane
{
	overflow : scroll;
	margin-left: 20px;
	padding: 0;

}

#sidebar{
	height: 500px;
}


#rightPane
{
	/*	position: static;*/
	height: 500px;
	margin-left: 10px;

}

td 
{
	border: 0px !important;
}



.views_col
{

}

.inner_table
{
	margin-bottom: 0px;

}

/*.date_creted_lbl .created_by_col
{
	text-align: right;
}
*/
.created_col 
{
	
	width: 45%;
	text-align: right !important;
}

	.created_by_col
{
	
	width: 45%;
	text-align: right !important;
}

.thread_info_row
{
}

.thread_content_div
{
	white-space: pre-wrap;
	font-size: 12px;
}

.delete_button_cell
{
	text-align: right !important;
	padding: 0px !important;
	padding-right: 2px !important;
}

.inner_table:hover
{

}




.thread_title_row
{
}

.thread_content_row
{
}

#loggedUser
{
	display: inline;
}


#content_container
{
	padding-right: 5px;
	padding-left: 5px;
}


.ratings_col1
{
	width: 10px;
	vertical-align: middle !important;
}
.ratings_col
{
	width: 10px;
	vertical-align: middle;
}

#ddiv
{
	text-align: center;
	vertical-align: middle;
	
}

.mybadge
{
	padding: 5px;
	margin-top: 5px !important;
	font-weight: bold;
	

}

.inner_div:first-child
{
}

.inner_div
{
box-shadow: 0 0 5px #888;


}

.inner_div:hover
{
/*	box-shadow: 0 0 5px #888;*/
background-color: whiteSmoke;

}


.thread_title_row
{
	border-bottom: 1px solid lightgrey !important;
}

.thread_info_row
{
	border-top: 1px solid lightgrey !important;
	font-size: 10px;
	padding: 0px !important;
	
	
}

td.views_col, td.created_by_col, td.created_col, p
{
	padding: 1px;
	margin: 0;
}

.tagsRow
{
	border-top: 1px solid lightgrey !important;
}


.tag
{
	margin-left: 5px;
}



.alert
{
	text-align: center !important;
}